<% obj.each do |obj| %>
  <div class="card">
    <%= image_tag obj.get_image, size: '200x150' %>
    <h4 class="card-title"><%= link_to obj.title, post_hobby_path(obj) %></h4>
    <p class="card-text">
      <%= obj.text %>
      <%= obj.tags.map(&:name).join(',') %>
      <%= obj.post_status_i18n %>
    </p>

  </div>
<% end %>